/* Custom Stuff */
@font-face { font-family: Code; src: url('Consolas.ttf'); }
@keyframes blink { 50% { opacity: 0.0; } }
:root {--sharedWidth: 195px; --sharedWidth2: 295px; }

/* Themes */
[data-theme="light"] { --color-bg: #cccaca; --color-fg: black; --topnav-bg: #989a9c; --topnav-active: #c2c3c4; --topnav-hover: #929394; --topnav-text-hover: lightgray; }
[data-theme="dark"] { --color-bg: #121212; --color-fg: #fff; --topnav-bg: #333; --topnav-active: #9e9e9e; --topnav-hover: #6b6b6b; --topnav-text-hover: black; }
[data-theme="coder"] { --color-bg: black; --color-fg: #33ff33; --topnav-bg: transparent; --topnav-active: #070707; --topnav-hover: #030303; --topnav-text-hover: white; }
[data-theme="og"] { --color-bg: black; --color-fg: #fff; --topnav-bg: transparent; --topnav-active: transparent; --topnav-hover: transparent; --topnav-text-hover: white; }

/* General Elements */
body { background-color: var(--color-bg); color: var(--color-fg); font-family: Code; margin: 0; padding: 0; }
.container { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); text-align:left;}
h1 { font-size: 40px; text-shadow: 1px 3px 3px gray; }
.blink { animation: blink 2s step-start 0s infinite; }
#speech { transition: 1s; }
#speechbtn:hover { font-weight: bold; }

/* Buttons */
#enter { background-color: rgb(59, 100, 51); border: 0; border-radius: 4px; width: 130px; height: 40px; color: white; cursor: pointer; transition: 0.5s; }
#enter:hover { background-color: rgb(70, 117, 60); transform: scale(1.05) }
#enter:active { background-color: rgb(49, 82, 42); transform: scale(0.95); }

#tools { background-color: rgb(89, 51, 100); border: 0; border-radius: 4px; width: 150px; height: 40px; color: white; cursor: pointer; transition: 0.5s; }
#tools:hover { background-color: rgb(112, 60, 117); transform: scale(1.05) }
#tools:active { background-color: rgb(82, 42, 80); transform: scale(0.95); }

#disc { background-color: #5165f6; border: 0; border-radius: 4px; width: 130px; height: 40px; color: white; cursor: pointer; transition: 0.5s; }
#disc:hover { background-color: #6577ff; transform: scale(1.05) }
#disc:active { background-color: #364dff; transform: scale(0.95); }

#close { background-color: rgb(95, 95, 95); border: 0; border-radius: 4px; width: 150px; height: 40px; color: white; cursor: pointer; transition: 0.5s; }
#close:hover { background-color: rgb(139, 139, 139); transform: scale(1.05) }
#close:active { background-color: rgb(53, 53, 53); transform: scale(0.95); }

/* Credits */
#credits { position: absolute; left: 99%; top: 98%; -webkit-transform: translate(-99%, -98%); transform: translate(-99%, -98%); font-weight: bold; cursor: pointer; }
#credits:hover { font-weight: normal; }

#debug { position: absolute; left: 99%; top: 93%; -webkit-transform: translate(-99%, -98%); transform: translate(-99%, -98%); font-weight: bold; cursor: pointer; }
#debug:hover { font-weight: normal; }

/* Modal */
::backdrop { background: rgb(19, 19, 19); opacity: 0.9; }
#creditsDialog { border: 0; border-radius: 10px; width: 600px; height: 400px; }

/* Top Div Styling */
.topnav { overflow: hidden; background-color: var(--topnav-bg); border-radius: 10px; margin-top: 10px; margin-right: 10px; margin-left: 10px; }
.topnav a { float: left; color: var(--color-fg); text-align: center; padding: 14px 19px; text-decoration: none; font-size: 17px; }
.topnav a:hover { background-color: var(--topnav-hover); color: var(--topnav-text-hover); }
.topnav a.active { background-color: var(--topnav-active); color: var(--color-fg); }
.topnav .right { float:right; }
.topnav .agentsgamsicon { text-shadow: 1px 3px 3px gray; }

.dropdown { float: right; overflow: hidden; }
.dropdown .dropbtn { font-size: 16px; border: none; outline: none; color: var(--color-fg); padding: 14px 16px; background-color: inherit; font-family: inherit; margin: 0; }
.navbar a:hover, .dropdown:hover .dropbtn { background-color: var(--topnav-hover); }
.dropdown-content { display: none; position: absolute; background-color: var(--topnav-bg); right: 10px; min-width: 160px; box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.2); z-index: 1; }
.dropdown-content a { float: none; color: var(--color-fg); padding: 12px 16px; text-decoration: none; display: block; text-align: left; }
.dropdown-content a:hover { background-color: var(--topnav-hover); }
.dropdown:hover .dropdown-content { display: block; }



/* PROJECTS PAGE */

.image-container { display: flex; flex-wrap: wrap; }
.project { position: relative; text-align: center; }
.project img { width: 200px; border-radius: 20px; transition: 0.2s; filter: blur(0px); }
.project span { position: absolute; color: white; font-size: 20px; top: 50%; left: 50%; transform: translate(-50%, -50%); font-weight: bold; -webkit-text-stroke: black 0.5px; opacity: 0; transition: 0.2s; }
.project .hovereffect { filter: blur(4px); }
.project .hovereffect-span { opacity: 1; }


/* LEADERBOARD PAGE */

.leaderboard-card { background-color: #4b4b4b; width: 100%; height: 140px; padding: 10px; border-radius: 5px; padding-left: 20px; transition: 0.6s; color: white; }
.leaderboard-card img { float: right; border-radius: 10px; }
.leaderboard-card:hover { transform: scale(1.1); }

/* TOOLS PAGE */

#abtblankurl { border: 0; border-radius: 10px; padding: 10px; background-color: #2c2c2c; color: #ffffff; }
#cloakerurl { border: 0; border-radius: 10px; padding: 10px; background-color: #2c2c2c; color: #ffffff; }

#cloakerTitle { background-color: rgb(51, 71, 100); border: 0; border-radius: 4px; width: var(--sharedWidth); height: 40px; color: white; cursor: pointer; transition: 0.5s; }
#cloakerTitle:hover { background-color: rgb(69, 100, 134); transform: scale(1.05) }
#cloakerTitle:active { background-color: rgb(42, 61, 82); transform: scale(0.95); }

#cloakerImage { background-color: rgb(51, 71, 100); border: 0; border-radius: 4px; width: var(--sharedWidth); height: 40px; color: white; cursor: pointer; transition: 0.5s; }
#cloakerImage:hover { background-color: rgb(60, 87, 117); transform: scale(1.05) }
#cloakerImage:active { background-color: rgb(42, 61, 82); transform: scale(0.95); }

#cloakerReset { background-color: rgb(100, 51, 51); border: 0; border-radius: 4px; width: var(--sharedWidth); height: 40px; color: white; cursor: pointer; transition: 0.5s; }
#cloakerReset:hover { background-color: rgb(117, 60, 60); transform: scale(1.05) }
#cloakerReset:active { background-color: rgb(82, 42, 42); transform: scale(0.95); }

#homepage { background-color: rgb(100, 77, 51); border: 0; border-radius: 4px; width: var(--sharedWidth); height: 40px; color: white; cursor: pointer; transition: 0.5s; }
#homepage:hover { background-color: rgb(117, 92, 60); transform: scale(1.05) }
#homepage:active { background-color: rgb(82, 63, 42); transform: scale(0.95); }

/* Themes */
.theme {flex: 1 0 48%; margin: 0.8%; box-sizing: border-box;}

#lightMode { background-color: rgb(169, 169, 169); border: 0; border-radius: 4px; width: var(--sharedWidth2); height: 40px; color: black; cursor: pointer; transition: 0.5s; }
#lightMode:hover { background-color: rgb(205, 205, 205); transform: scale(1.05) }
#lightMode:active { background-color: rgb(117, 117, 117); transform: scale(0.95); }

#darkMode { background-color: rgb(69, 69, 69); border: 0; border-radius: 4px; width: var(--sharedWidth2); height: 40px; color: white; cursor: pointer; transition: 0.5s; }
#darkMode:hover { background-color: rgb(92, 92, 92); transform: scale(1.05) }
#darkMode:active { background-color: rgb(50, 50, 50); transform: scale(0.95); }

#codeMode { background-color: rgb(0, 0, 0); border: 0; border-radius: 4px; width: var(--sharedWidth2); height: 40px; color: lightgreen; cursor: pointer; transition: 0.5s; }
#codeMode:hover { background-color: rgb(17, 17, 17); transform: scale(1.05) }
#codeMode:active { background-color: rgb(15, 15, 15); transform: scale(0.95); }

#ogMode { background-color: rgb(0, 0, 0); border: 0; border-radius: 4px; width: var(--sharedWidth2); height: 40px; color: white; cursor: pointer; transition: 0.5s; }
#ogMode:hover { background-color: rgb(17, 17, 17); transform: scale(1.05) }
#ogMode:active { background-color: rgb(15, 15, 15); transform: scale(0.95); }