body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: "Consolas", sans-serif;
}

a {
    color: white;
    font-weight: bold;
}

a:hover {
    text-decoration: none;
}

.div {
    width: 70%;
    height: auto;
    /* Change height to auto */
    background-color: rgb(48, 48, 48);
    margin: 0 auto;
    /* Center the div horizontally */
}